<div id="drive-dirbrowser">
    <div data-hook="disk-usage"></div>
    <div id="drive-dirbrowser-title-outer">
        <h1 id="drive-dirbrowser-title" data-hook="dir-name"></h1>
    </div>
    <div id="opnav">
        <div data-hook="display-mode"></div>
        <div id="drive-loading" data-hook="message-area"></div>
        <div id="drive-dir-menu" data-hook="aux-menu"></div>
    </div>
    <div data-hook="dir-contents"></div>
    <div data-hook="uploader"></div>
</div>
