<div class="dir-entry dir-entry-header">
 <div class="col-grab"></div>
 <div class="col-name">{{ str.name }}</div>
 <div class="col-owner">{{ str.owner }}</div>
 <div class="col-size">{{ str.size }}</div>
 <div class="col-mtime">{{ str.mtime }}</div>
 <div class="col-ops"></div>
</div>
