<div class="dirbrowser-display-mode">
    <button type="button" class="dirbrowser-display-mode-icon display-mode-list" data-display-mode="list"></button>
    <button type="button" class="dirbrowser-display-mode-icon display-mode-media" data-display-mode="media"></button>
</div>
