<div id="drive-dir-contents">
 <div>
  <ul class="dir-entries" data-hook="header"></ul>
  <ul class="dir-entries" data-hook="updir"></ul>
  <ul class="dir-entries" data-hook="subdirs"></ul>
  <ul class="dir-entries" data-hook="files"></ul>
 </div>
 <div class="no-items-message">{{ str.noItems }}</div>
</div>
