<div class="dir-entry dir-entry-updir">
    <div class="col-grab"></div>
    <div class="col-name">
        <span class="dir-entry-icon">
            <span class="drive-icon drive-icon-updir" data-hook="icon"></span>
        </span>
        <span class="dir-entry-name" title="{{ dir.name }}" data-hook="name">..</span>
    </div>
</div>
