<div id="drive-dir-browser" class="js-loading">
    <p class="text-center" style="padding-top:100px;">{{ translate('Loading directory contents...') }}</p>
</div>
{% if dir %}
<script>window.location = String(location).replace(/#.*$/, '') + '#/{{ dir.dir_id }}';</script>
{% endif %}
