<p>Czy na pewno trwale usunąć plik <strong>{{ name }}</strong>?
<p><strong>Tej operacji nie można cofnąć.</strong></p>

{{ form().openTag(form) | raw }}
{{ form.renderElements() | raw }}
{{ form().closeTag() | raw }}
