.dropdown-menu a.disabled,
.dropdown-menu a.disabled:hover {
  cursor: default;
  color: #ccc;
  text-decoration: none;
}
.name a {
  display: block;
}
#drive-dir-contents table {
  width: 100%;
}
#drive-dir-contents .dropdown-toggle {
  border: 1px transparent solid;
  border-width: 0 10px;
  visibility: hidden;
}
#drive-dir-contents .opdd.open .dropdown-toggle,
#drive-dir-contents tr:hover .dropdown-toggle {
  visibility: visible;
}
#drive-dir-contents .dropdown {
  margin-top: -2px;
}
#drive-dir-contents tr.active,
#drive-dir-contents tr:hover.active {
  background-color: red;
}
.grablabel {
  background: #eee;
  border: 1px solid #aaa;
  padding: 2px 6px;
  font-size: 12px;
  z-index: 1000;
}
td.name {
  white-space:nowrap;
  width: 60%;
}
td.name span {
  width: 100px; /* wartosc musi byc nadana w px zeby zostala poprawnie zastosowana */
  display: block;
  overflow: hidden;
}
#drive-dir-contents td {
  line-height: 140%;
}
td.owner {
  width: auto;
  display: none;
}
td.size {
  width: 15%;
  font-size: 85%;
}
td.mtime {
  width: 20%;
  font-size: 85%;
}
td.grab {
  width: 6px;
}
td.grab div {
  width: 6px;
  height: 18px;
  background: url(<?= $this->baseUrl('i/v2/grab.png') ?>) repeat-y 0 0;
  visibility: hidden;
  cursor:hand;
  cursor:grab;
  cursor:-moz-grab;
  cursor:-webkit-grab;
}
#drive-dir-contents tr:hover td.grab div,
#drive-dir-contents tr.active td.grab div {
  visibility: visible;
}
.grabbing * {
  cursor:grabbing !important;
  cursor:-moz-grabbing !important;
  cursor:-webkit-grabbing !important;
}
