<p>Are you sure you want to remove file <strong>{{ name }}</strong>?</p>
<p><strong>This operation cannot be reverted.</strong></p>

{{ form().openTag(form) | raw }}
{{ form.renderElements() | raw }}
{{ form().closeTag() | raw }}
